<%= provide(:title,"Canvas") %>

<h1>Canvas</h1>

<p>
Kyseessä on siis hermoston rappeuma (duh), joka kehittyy ajan saatossa. Tämän nimen se saa vasta kun rappeuma on ehtinyt siihen pisteeseen, että se sotkee pikkuaivojen ja tasapainojärjestelmän toimintaa. 
</p>
<p>
Askel kerrallaan!
</p>

<h2>CA - Cerebellar Ataxia</h2>
<p>
Pikkuaivot(cerebellum) hoitavat hienomotoriikan. Pikkuaivoataksiassa liikkeistä tulee vapisevia ja epävarmoja, mutta niiden suunta on edelleen aiottu. Riittävän runsas ja pitkään jatkuva alkoholin kulutus johtaa vääjäämättä tähän. Riittävän reipas krapula saa nuorenkin ihmisen vapisemaan. Ihmisten sietokyvyssä on eroja eli toisilla hitaammin ja toisilla nopeammin.
</p>

<h2>N - Neuronopatia</h2>
<p>
Neuronopatia tarkoittaa yleisesti hermojen rappeumaa, jonka syy ei ole mekaaninen (pinne, puristus). Yleensä tällä tarkoitetaan vain perifeeristen hermojen toimintahäiriöitä, mutta tätä prosessi on sama sekä keskushermostossa että perifeerisissä hermoissa. Isän jalkojen "muumioituminen" johtuu tästä. 
Mahdollisia ja yleisimmät aiheuttajat ovat toksigeenit ja iskemia eli hapen puute. Toksigeenit tulevat ympäristöstä ja elintavoista. Iskemian syynä on joko mekaaninen pinne tai tukkiutuneet hiussuonet hermon sisällä. Diabeettinen aineenvaihdunta tuottaa glykoituneita proteiineja, jotka ovat suurempia ja jäykempiä kuin terveet proteiinit. Nämä ovat riittävän suuria tukkimaan hienoimmat verisuonet ja tästä johtuu diabeetikkojen neuropatiat, jotka alkavat lähes poikkeuksetta alaraajoista. Tämä syö diabeetikoilta myös silmät, koska verkkokalvon hiussuonitus on riittävän pientä tukkeutuakseen glykoituneista proteiineista. 
</p>

<h2>VA - Vestibular Areflexia </h2>
<p>
Vestibular Areflexia tarkoittaa sisäkorvan tasapainojärjestelmästä lähtevien automaattisten tasapainorefleksien heikentymistä puuttumiseen asti. Täälläkin hermosto on rappeutunut. Käytännössä isän pystyssäpysyminen on enää yksin silmien kautta tulevan informaation varassa. 
</p>

<h2>Genetiikka taustalla</h2>
<p>
DNA on geenikirjasto, jonka ohjeiden mukaan tehdään proteiineja. Proteiinit tekevät soluissa säätelyn, molekyylien liikkuttamisen ja oikeastaan kaiken asioiden tapahtumisen. Solukalvon portit sisään ja ulos ovat proteiineja. Lihasten supistumisen mahdollistavat proteiinit. Kaikki mikä ei ole passiivista diffuusiota tapahtuu elimistössä proteiinien ympärillä. 
</p>
<p>
RFC1 eli replikaatiotekijä C 1 (Replication Factor C subunit 1) on geenien luku- ja monistus prosessin iso tekijä. <blockquote>"The RFC1 gene encodes the large subunit of replication factor C, a 5-subunit DNA polymerase accessory protein required for the coordinated synthesis of both DNA strands during replication or after DNA damage (summary by Cortese et al., 2019)."</blockquote>
</p>
<p>
Eli DNA vauriot eivät monistu eivätkä korjaannu välttämättä oikein tämän geenimuunnoksen kanssa. 
</p>
<p>
Elämä aiheuttaa vaurioita DNA:han. Jokainen solun jakautuminen lyhentää telomeerejä. Jotkin lääkeaineet ja myrkyt sekä oksidatiivinen stressi (H2O2 = vetyperoksidi) syövät telomeerejä.
</p>